@charset "UTF-8";

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}
body {
      background-color: var(--body-bg-color);
      font-family: 'Merriweather Sans', sans-serif;
      color: var(--text-color);
      display: block;
 
}

h2 {
    font-size: 20px;
    padding-top: 6px;
    padding-left: 24px;
}

header {
    font-size: 11px;
    background-color: var(--bg-cards);
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px; 
    width: 340px;
    height: 295px;
}

header > img{
    margin-top: 32px;
    width: 150px;
    border-radius: 50%;
}

header > p {
    font-size: 15px;
}

#networks {
    font-size: 12px;
    background-color: var(--bg-cards);
    width: 348px;
    height: 327px;
    border-radius: 20px; 
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 20px;  
}

.icon, img, a {
    display: inline-block;
    vertical-align: middle;
    color: var(--text-color);
    padding-right: 22px;
    text-decoration: none;
    list-style: none;
}

.mapa, .negocios, .github, .linkedin, .twitter, .site, .email {
    margin-bottom: 19px;
}

#technology {
    background-color: var(--bg-cards);
    width: 348px;
    height: 200px;
    border-radius: 20px; 
    margin-left: 20px;
    margin-top: 30px;
}

#titulo{
    padding-top: 28px;
}

.list-tech {
    text-decoration: none;
    list-style: none;
    columns: 3;
    padding-left: 32px;
    margin-top: 20px;
    color: black;
}

.js, .git, .css, .reactjs, .gith, .elixir, .nodejs, .html, .reactn {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--bg-techs);
    border-radius: 20px;
    width: 81px;
    height: 17px;
    margin-bottom: 15px;
    padding-top: 6px;
}

.reactjs, .gith, .nodejs {
    margin-left: -9px;
}

.html, .reactn, .elixir {
    margin-left: -19px;
}

#experience {
    background-color: var(--bg-cards);
    width: 348px;
    height: 370px;
    border-radius: 20px; 
    margin-left: 20px;
    margin-top: 30px;
}

.instituicao {
    font-size: 15px;
    font-weight: bold;
    margin-left: 26px;
    margin-bottom: 24px;
}

.periodo {
    font-size: 12px;
    font-weight: normal;
    margin-top: 1px;
}

#education {
    background-color: var(--bg-cards);
    width: 348px;
    height: 297px;
    border-radius: 20px; 
    margin-left: 20px;
    margin-top: 30px;
}

#project {
    background-color: var(--bg-cards);
    width: 930px;
    height: 82px;
    border-radius: 18px;
    position: absolute;
    left: 386px;
    top: 21px;
}

#my {
    font-size: 20px;
    padding-top: 12px;
    padding-left: 30px;
}

#project > p {
    text-align: right;
    margin-top: -40px;
    margin-right: 26px;
    font-size: 14px;
}

#folder1 {
    background-color: var(--bg-cards);
    width: 467px;
    height: 154px;
    border-radius: 20px;
    position: absolute;
    left: 388px;
    top: 119px;
}
#projects{
    font-size: 17px;
    padding-top: 7px;
    padding-left: 1px;
    padding-bottom: 9px;
    display: inline-block;
    vertical-align: middle;
}

#projects > img {
    color: var(--text-color);
    padding-left: 24px;
    padding-right: 16px;

}

.subtitulo {
    font-size: 13px;
    padding-left: 20px;
    margin-bottom: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}
.number1 {
    font-size: 12px;
    padding-left: 37px;
    margin-right: 1px;
    margin-bottom: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.number1 > img {
    padding-left: 1px;
    padding-right: 10px;
    width: 20px;
    margin-left: -17px;
}

#folder2 {
    background-color: var(--bg-cards);
    width: 455px;
    height: 158px;
    border-radius: 20px;
    position: absolute;
    left: 863px;
    top: 119px;
}

.number2 {
    font-size: 12px;
    padding-left: 37px;
    margin-right: 1px;
    margin-bottom: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}

.number2 > img {
    padding-left: 1px;
    padding-right: 10px;
    width: 20px;
    margin-left: -17px;
}

.linguagem {
    margin-left: 106px;
    font-size: 13px;
    padding-left: 121px;
    margin-bottom: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    background-color: var(--bg-techs);
    color: var(--body-bg-color);
    border-radius: 20px;
}